# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Files
*.csv

# Executables
test_date_time
test_ground_station
test_log
test_satellite
test_utilities
generate_ecis
generate_gnds
generate_ground_tracks
